@keyframes blinker {
 0% { opacity: 1.0; }
 30% { opacity: 0.0; }
 60% { opacity: 1.0; }
}

.fade-enter {
  opacity: 0;
  top: -100px;
  transform: translateY(-100px);
}

.fade-enter-active {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}
