.sidebar {
  float: left;
  width: $sidebar-width;
  box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  height: 100vh;
  background-color: $sidebar-background;

  .top-sidebar {
    padding-bottom: 5%;
    border-bottom: 1px solid #e7e7e7;
    // box-shadow: 0 0 4px rgba(0,0,0,0.25);

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5% 0;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      h1 {
        font-size: 2.2em;
        letter-spacing: 1.5px;
        display: inline-block;
      }
      img {
        margin-right: 10px;
        left: 10px;
        height: 30px;
      }
      p {
        padding-top: 7.5px;
        font-size: 0.8em;
      }
    }

    .info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.6em;
      color: #606060;

      .info-tooltip {
        text-align: left;
        box-sizing: border-box;
        font-size: 1rem;
        font-family: 'Roboto';
        font-weight: 300;
        line-height: 1.3rem;
        position: absolute;
        left: $sidebar-width - 25px;
        top: 55px;
        height: 300px;
        width: 400px;
        padding: 10%;
        border-radius: 5px;
        color: #454545;
        background: #fefefe;
        box-shadow:0px 0px 12px rgba(0, 0, 0, 0.4);
        z-index: 1;

        .tooltip-message {
          position: absolute;
          top: 70px;
          padding-right: 25px;
          transition: all 0.1s cubic-bezier(0.17,-0.18, 0.54, 1.43);
        }

        .progress-bar {
          margin-bottom: 40px;
          list-style: none;
          width: 100%;
          margin-left: calc(22% / 2);

          li {
            float: left;
            width: 25%;
            position: relative;

            &:before {
              transition: all 100ms ease-in-out;
              content: "";
              width: 10px;
              height: 10px;
              display: block;
              background: #eee;
              border-radius: 50%;
            }

            &:after {
              transition: all 100ms ease-in-out;
              content: "";
              position: absolute;
              top: 4px;
              left: -95%;
              width: 100%;
              height: 2px;
              background: #e7e7e7;
              z-index: -1;
            }

            &:first-child:after {
              content: none;
            }
          }

          .active:before, .active:after {
            transition: all 100ms ease-in-out;
            background: $base-darker;
          }
        }

        .full {
          width: 100%;
        }

        .half {
          width: 50%;
        }

        .prev {
          left: 0;
          background: $blue;
        }

        .next {
          right: 0;
          background: $base-darkest;
        }

        .tooltip-button {
          position: absolute;
          bottom: 0;
          height: 17.5%;
          color: #f3f3f3;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
          }
        }

        .fa-times {
          position: absolute;
          color: #999;
          top: 3%;
          right: 3%;
          &:hover {
            color: #555;
            cursor: pointer;
          }
        }

        .tooltip-arrow {
          width: 50px;
          height: 25px;
          position: absolute;
          top: 25px;
          left: -37px;
          transform: rotate(90deg);
          overflow: hidden;

          &:after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background: #fefefe;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          top: 0;
          left: 50%;
          box-shadow: 0 0 12px rgba(0,0,0,0.3);
          }
        }
      }

      i {
        color: #606060;
        &:hover {
          cursor: pointer;
          color: #454545;
        }
      }
    }
  }

  .current-status {
    margin: 5% 0 2.5% 0;
  }

  .stats-wrapper {
    padding: 5% 0;
    border-bottom: 1px solid #e7e7e7;

    .training-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;

      .live-blinker {
        width: 15px;
        font-size: 0.5em;
        margin-right: 5px;
        color: $red;
        animation: blinker 5s linear infinite;
      }

      h4 {
        display: inline;
      }
    }

    .stats {
      display: flex;
      align-items: center;
      width: 100%;

      .training-status {
        font-size: 1.2em;
        width: 75px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          padding-top: 5%;
          font-size: 1.6em;
          &:hover {
            cursor: pointer;
          }
        }
      }

      div {
        font-size: 0.9em;
        padding: 2px 0;
        text-align: left;
      }
    }
  }

  .results-wrapper {
    padding-top: 5%;

    .results {
      position: relative;
      margin: 5% 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        padding-bottom: 2.5%;
      }

      .predicted-result {
        transition: all 0.5s, opacity 1s;
        box-shadow: 0 0.5px 2px rgba(0,0,0,0.2);
        margin: 4px 0px;
        padding: 5px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 0.8em;

        .predicted-result-num {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          text-align: left;
          width: 100%;
        }
        i {
          font-size: 1.6em;
        }

        .fa-check {
          color: $base-background;
        }

        .fa-times {
          color: $red;
        }
      }

      .result-stat-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 50%;

        .result-stat {
          display: flex;
          flex-direction: column;
          align-items: center;

          .result-stat-bar {
            width: 4px;
            margin-bottom: 2px;
            background-color: #ccc;
          }
        }
      }
    }
  }
}

.fixed {
  position: fixed;
}

.unfixed {
  position: absolute;
  bottom: 0;
}